* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Pen Script";
  box-sizing: border-box;
}

.story_img img {
  max-width: 100%;
  border: solid;
  border-radius: 18px;
  margin: 2%;
}

.webcams {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.webcam-feed-placeholder {
  max-width: calc(50% - 6px);
  height: 200px;
  width: 300px;
  background-color: #969393;
  border-radius: 8px;
}

.script-container {
  flex: 1;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.story_button {
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.story_button:hover {
  background-color: #424343;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("img/image4.png");
}

.login-container {
  margin: 22% auto;
  padding: 3%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-size: cover;
  width: 30%;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-group-text {
  font-weight: bold;
  padding: 30px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
}
.form-control {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.btn {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: rgb(92, 18, 210);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(56, 8, 124);
}

.form-control {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}
