.mainBookStyle {
  text-align: center;
  margin: 20px 0;
}

.button_container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.styledLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.imageButton {
  margin: 0 20px;
  width: 100px;
  height: 100px;
}
.imageButton:hover {
  transform: scale(1.1);
}

.imageButton:active {
  transform: scale(0.9);
}

.titleStyle {
  font-size: 48px;
  font-weight: bold;
  color: #ff6347;
  text-align: center;
  margin-bottom: 20px;
}

.toggle-button,
.cute-button {
  background-color: #ffb6c1;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s;
  margin: 10px;
}

.toggle-button:hover,
.cute-button:hover {
  transform: scale(1.2);
}

.additional-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.modal_style {
  position: absolute;
  color: rgb(2, 2, 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #e8a87c;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px #acabab;
}

.modal_style button:hover {
  background-color: #f76c6c;
}

.cardItem {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* 리스트 뷰 스타일 */
.listView .cardItem {
  display: block;
  height: 100px;
  font-size: large;
}

/* 그리드 뷰 스타일 */
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
  gap: 10px;
}

.gridView .cardItem {
  margin-bottom: 0;
}

.scrollBook {
  min-width: 100%;
  height: 500px;
  background-size: cover;
}

.slider-container {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
