.mainBookStyle {
  text-align: center;
  margin: 20px 0;
}

.bookImageStyle {
  width: 250px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease;
}
.bookImageStyle:hover {
  transform: rotateY(20deg);
}

.title {
  font-size: "36px";
  font-weight: "bold";
  color: "#ff6347";
  text-align: "center";
  margin-bottom: "20px";
}

.button_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.styledLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.imageButton {
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
}

.imageButton:hover {
  transform: scale(1.1);
}

.imageButton:active {
  transform: scale(0.9);
}

.titleStyle {
  font-size: 48px;
  font-weight: bold;
  color: #ff6347;
  text-align: center;
  margin-bottom: 20px;
}

.bookDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-container {
  position: relative;
}

.toggle-button,
.cute-button {
  background-color: #ffb6c1;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s;
  margin: 10px;
}

.toggle-button:hover,
.cute-button:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.additional-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
}

.modal_style {
  position: absolute;
  color: rgb(2, 2, 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #e8a87c;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px #acabab;
}

.modal_style button:hover {
  background-color: #f76c6c;
}

.viewSwitcher {
  display: flex;
  margin-bottom: 1rem;
}

.viewSwitcher label {
  padding: 0.2rem;
  margin-inline-end: 1rem;
  cursor: pointer;
  display: flex;
  color: white;
}

.viewSwitcher input:checked + label {
  color: black;
}

.viewPaper {
  padding: 1rem;
}

.viewShadowLarge {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* 공통 스타일 */

.cardItem {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* 리스트 뷰 스타일 */
.listView .cardItem {
  display: block;
}

/* 그리드 뷰 스타일 */
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
  gap: 10px;
}

.gridView .cardItem {
  margin-bottom: 0; /* 그리드 뷰에서는 아이템 간의 바텀 마진 제거 */
}
