.A-con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bgimg.jpg");
}

.mainButton {
  position: absolute;
  top: 10px;
  left: 10px;
}
.page-cover,
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.page-content {
  justify-content: flex-start;
  text-align: center;
}
.page-cover h2 {
  font-size: 100px;
  color: #876203;
  margin-top: 260px;
  justify-content: center;
}
.page-content h2 {
  font-size: 40px;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.page-image {
  width: 100%;
  height: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.page-content h2 {
  font-size: 18px; /* 페이지 번호 크기 조정 */
  color: #666; /* 페이지 번호 색상 조정 */
  margin-bottom: 10px; /* 이미지와의 거리 설정 */
}

.book-container {
  background-image: url("cover.jpg");
  background-size: fill;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.script-text {
  border-radius: 15px;
  width: 100%;
  height: 20%; /* 이미지 아래 20% 높이의 텍스트 영역을 설정 */
  background-color: #e6dab6;
  padding: 30px;
  font-size: 35px;
  color: #333;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과를 주어 입체감 추가 */
}

.voice-button {
  position: absolute;
  right: 10px;
  bottom: 150px;
  padding: 10px 10px; /* 버튼 내부의 패딩 */
  font-size: 18px; /* 폰트 크기 */
  color: white; /* 글자 색상 */
  background-color: #526bea; /* 버튼 배경 색상 */
  border: none; /* 테두리 제거 */
  border-radius: 50%; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: all 0.3s; /* 호버 효과를 위한 전환 */
}

.voice-button:hover {
  background-color: #45a049; /* 호버 시 버튼 색상 변경 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 변경 */
}
