.App {
  text-align: center;
  font-family: "Nanum Pen Script";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
