body {
  background-color: rgb(238, 238, 238);
  font-family: 'OTWelcomeRA';
}

@font-face {
  font-family: 'OTwelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noofonts_2110@1.0/OTwelcomeRA.woff2')
  format('woff2');
  font-weight: normal;
  font-style: normal;
}