.Album_title {
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logoContainer {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.albumTitleCenter {
  width: 100%;
  font-size: 70px;
  text-align: center;
  padding: 20px;
}

.item_bg {
  background-image: url("./albumImg.png");
  background-size: cover;
}

.albumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumItem {
  flex-direction: column;
  align-items: center;
  height: 275px;
  width: 290px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  border: 2px solid #f8d7e4;
  background-size: cover;
  margin: 63px;
  margin-left: 83px;
  cursor: pointer;
}

.albumItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) scale(1.05); /* 살짝 떠오르고 커지는 효과 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.albumImage {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.albumImage:hover {
  transform: scale(1.1);
}

.albumOverlay {
  width: 100%;
  height: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  background: rgba(255, 192, 203, 0.8);
  padding: 20px;
}

.albumTitle {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .albumItem {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .albumItem {
    width: 90%;
  }
}

.book-script {
  border: 1px solid white;
  background-color: yellow;
}

/* 모달 */

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: rgb(248, 247, 247);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* 오버레이보다 더 위에 표시 */
}

.modalContent video {
  max-width: 800px; /* 비디오 최대 너비 */
}
