<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springjwt.mapper.AccountMapper">

    <select id="getAllDataList" resultType="com.example.springjwt.dto.JoinDTO">
        SELECT * FROM JoinDTO;
    </select>

</mapper>